* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    padding: 10px;
}

.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 60%; */
    border: 1px solid red;    
    width: 100%;
}


/* .section-1 .left {
    display: grid;
    grid-template-rows: 1fr; 
    justify-content: center;
} */

/* .section-1 .img-div {
    width: 50%;
} */